
@{
    ViewBag.Title = "Create";
}

<h2>Create Flight</h2>

<form action="/Flight/Create" method="POST">
    <div>
        <label>Airline: </label><input type="text" name="Airline" placeholder="Air Canada" />
    </div>
    <div>
        <label>Flight number: </label><input type="text" name="FlightNum" placeholder="AC3110" />
    </div>
    <div>
        <label>Terminal: </label><input type="number" name="Terminal" placeholder="1" />
    </div>
    <div>
        <label>Gate: </label><input type="text" name="Gate" placeholder="C15" />
    </div>
    <div>
        <label>Destination: </label><input type="text" name="Destination" placeholder="Sudbury" />
    </div>
    <div>
        <label>DepartureTime: </label><input type="datetime-local" name="DepartureTime" />
    </div>
    <div>
        <label>Arrival Time: </label><input type="datetime-local" name="ArrivalTime" />
    </div>
    <div>
        <label>FlightStatus: </label><input type="text" name="FlightStatus" />
    </div>
    <div>
        <input type="submit" value="Add Flight" />
    </div>
</form>

