
@{
    ViewBag.Title = "Create";
}

<h2>Create Passenger</h2>

<form action="/Passenger/Create" method="POST">
    <div>
        <label>First name: </label><input type="text" name="PassengerFName" placeholder="John" />
    </div>
    <div>
        <label>Last name: </label><input type="text" name="PassengerLName" placeholder="Doe" />
    </div>
    <div>
        <label>Passport number: </label><input type="text" name="PassengerPassport" placeholder="HK12345678" />
    </div>
    <div>
        <label>Check-in time: </label><input type="datetime-local"  name="CheckInStatus"/>
    </div>
    <div>
        <label>Class: </label><input type="text" name="PassengerSeatingClasses" placeholder="First Class/Business/Economy" />
    </div>
    <div>
        <label>Seating number: </label><input type="text" name="PassengerSeatingNum"  placeholder="G15" />
    </div>
    <div>
        <label>Flight Id: </label><input type="number"  name="FlightId"/>
    </div>
    <div>
        <input type="submit" value="Add Passenger" />
    </div>
</form>

