@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADM</h1>
    <p class="lead">Airport Database Management is a system built using c# in the ASP.NET MVC framework that allows airport employee to manage the flight schedules and passenger list.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Passenger List</h2>
        <p><a class="btn btn-default" href="/Passenger/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Flight List</h2>
       
        <p><a class="btn btn-default" href="/Flight/List">Learn more &raquo;</a></p>
    </div>

</div>

<style>
    .jumbotron {
        background-image: url("https://images.wallpaperscraft.com/image/single/plane_sky_flying_sunset_64663_2560x1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }


</style>